* {
    background: gray;
    color: gray;
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    background: white;
    padding: 30px;
    margin-bottom: 10px;
}

nav {
    background: white;
    padding: 30px;
    margin-bottom: 20px;
}

section {
    background: white;
    padding: 30px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    /* Flexbox, get rid of the float and width here*/
}

aside {
    background: white;
    padding: 30px;
    margin-bottom: 15px;
    height: 245px;
    margin-left: 10px;
}

/* Flexbox would need this
.container {
    display: flex;
    flex-direction: row; 
}*/


#box {
    float: left;
    width: 50%;
    /* Flexbox, remove float */
}

article {
    color: white;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
}

p{
    padding: 10px;
    background: white;
    margin-top: 10px;
}

h1 {
    color: gray;
    background: white;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 0px;
}

footer {
    background: white;
    padding: 30px;
    width: 100%;
    clear: both;
}

